<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="department1" class="com.Test.Department">
    
      <constructor-arg name="departmentId" value="907" />
	  <constructor-arg name="departmentName" value="Testing" />
	
    </bean>

	<bean id="employee1" class="com.Test.Employee">
	
	  <constructor-arg name="employeeId" value="321" />
	  <constructor-arg name="employeeName" value="Suraj Kumar" />
	  <constructor-arg name="employeeRole" value="QA Analyst" />
	  <constructor-arg name="employeeSalary" value="98763.24" />
	  
	  <constructor-arg name="department" ref="department1" />
	  </bean>
	  
	  <bean id="department2" class="com.Test.Department">
    
      <constructor-arg name="departmentId" value="768" />
	  <constructor-arg name="departmentName" value="Development" />
	
    </bean>

	<bean id="employee2" class="com.Test.Employee">
	
	  <constructor-arg name="employeeId" value="657" />
	  <constructor-arg name="employeeName" value="Vimal Chavan" />
	  <constructor-arg name="employeeRole" value="Java Developer" />
	  <constructor-arg name="employeeSalary" value="7865433.90" />
	  
	  <constructor-arg name="department" ref="department2" />

	</bean>
</beans>