<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="department1" class="com.Test.Department">
    
      <property name="departmentId" value="907" />
	  <property name="departmentName" value="Testing" />
	
    </bean>

	<bean id="employee1" class="com.Test.Employee">
	
	  <property name="employeeId" value="321" />
	  <property name="employeeName" value="Suraj Kumar" />
	  <property name="employeeRole" value="QA Analyst" />
	  <property name="employeeSalary" value="98763.24" />
	  
	  <property name="department" ref="department1" />

	</bean>
</beans>